// src/styles/scss/pages/_AdminDashboard.scss

@use 'sass:color';
@use '../abstracts/mixins' as mixins;

.admin-dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  min-height: 100vh;
  background-image: url('/public/assets/images/Home_Fondo.webp'); // Ajuste en la ruta
  background-size: cover;
  background-position: center;
  color: mixins.theme(text-color);
  transition: background-color 0.3s ease, color 0.3s ease;

  h2 {
    margin-bottom: 2rem;
    color: mixins.theme(dark-color);
    text-align: center;
    font-weight: 600;
    font-size: 2rem;
  }

  .dashboard-sections {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
  }
}
