// src/styles/scss/pages/_confirmEmail.scss
@use 'sass:color';
@use '../abstracts/mixins' as mixins;

.confirm-email-page {
  display: flex;
  justify-content: center;
  padding: 3rem;
  min-height: 100vh;
  background-color: rgba($color: #ffffff, $alpha: 0.01);
  backdrop-filter: blur(5px);
  align-items: center;
  .confirm-email-container {
    width: 15rem;
    text-align: center;

    h2 {
      margin-bottom: 1.5rem;
      color: mixins.theme(color-dark);
      font-weight: 600;
    }

    p {
      font-size: 1.5rem;
      color: mixins.theme(dark-color);
    }

    .button {
      padding: 0.75rem;
      background-color: mixins.theme(primary-color);
      color: mixins.theme(light-color);
      border: none;
      border-radius: 4px;
      font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.3s ease;
      margin-top: 1rem;

      &:hover {
        background-color: mixins.theme(primary-color-hover);
      }
    }
  }
  .resend-button{
    padding: 0.75rem;
    background-color: mixins.theme(primary-color);
    color: mixins.theme(light-color);
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 1rem;

    &:hover {
      background-color: theme(primary-color-hover);
    }
  }
}

@media (min-width: 520px) {
  .confirm-email-page {
    .confirm-email-container {
      width: 25rem;
    }
  }
}

@media (min-width: 1024px) {
  .confirm-email-page {
    height: 100%;
    display: flex;
    align-items: center;
    background-color: rgba($color: #ffffff, $alpha: 0.01);
    backdrop-filter: blur(5px);
  }
}
