/* src/pages/Home.scss */

@use 'sass:color';
@use '../abstracts/mixins' as mixins;

.home-page {
  padding: 2rem;
  min-height: 100vh;
  background-image: url('/public/assets/images/Home_Fondo.webp'); // Ajuste en la ruta
  background-size: cover;
  background-position: center;
  color: mixins.theme(text-color);
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .welcome-section {
    text-align: center;
    margin-bottom: 3rem;
    padding-bottom: 3rem;
    h1 {
      font-size: 2.5rem;
      color: mixins.theme(black-color);
      font-weight: 700;
    }
  }

  .dashboard {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    justify-content: center; // Centra las filas
    gap: 2rem; // Espacio entre los botones

    .dashboard-button {
      background-color: mixins.theme(light-color);
      border: none;
      border-radius: 10px;
      padding: 1.5rem;
      width: calc(43.333% - 2rem); // Ancho para 3 botones por fila, menos el gap
      height: 10rem;
      max-width: 200px; // Asegura que no se expanda demasiado
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.3s ease;

      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
        background-color: mixins.theme(primary-light-color);
      }

      .icon {
        font-size: 2.5rem;
        color: mixins.theme(primary-color);
        margin-bottom: 1rem;
      }

      .title {
        font-size: 1.1rem;
        font-weight: 600;
        text-align: center;
        color: mixins.theme(dark-color);
      }

      @media (max-width: 768px) {
        width: calc(50% - 2rem); // Para pantallas más pequeñas, 2 botones por fila
      }

      @media (max-width: 480px) {
        width: 100%; // En móviles, 1 botón por fila
      }
    }
  }
}
