@use 'sass:color';
@use '../abstracts/mixins' as mixins;

.invite-user {
  background-color: mixins.theme(light-color);
  border-radius: 10px;
  padding: 2rem;
  max-width: 600px;
  margin: 0 auto;
  transition: background-color 0.3s ease, color 0.3s ease;

  h3 {
    text-align: center;
    color: mixins.theme(dark-blue-color);
    margin-bottom: 1rem;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    label {
      margin-bottom: 0.5rem;
      font-weight: 500;
    }

    input,
    select {
      padding: 0.75rem;
      border: 1px solid #c6c6c6;
      border-radius: 10px;
      font-size: 1rem;
      transition: border-color 0.3s ease;
      &:focus {
        outline: none;
        border-color: mixins.theme(primary-color);
        box-shadow: 0 0 5px rgba(0, 102, 255, 0.5);
      }
    }

    .info-text {
      font-size: 0.9rem;
      color: mixins.theme(dark-blue-color);
      margin-top: 0.5rem;
    }
  }

  .summary {
    background-color: #f7f7f7;
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 1rem;
    p {
      margin: 0.5rem 0;
    }
  }

  .summary-details {
    background-color: #f1f1f1;
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 1rem;
    p {
      margin: 0.3rem 0;
      font-size: 1rem;
    }
  }

  .buttons-group {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    button {
      flex: 1;
    }
  }

  .button {
    padding: 0.75rem;
    background-color: mixins.theme(primary-color);
    color: mixins.theme(light-color);
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    &:hover {
      background-color: mixins.theme(primary-color-hover);
    }
  }
}
