// src/styles/scss/components/_footer.scss

@use 'sass:color';
@use '../abstracts/mixins' as mixins;

.footer {
  background-color: mixins.theme(gray-color);
  padding: 10px;
  text-align: center;
  transition: background-color 0.3s ease;
}
