// src/styles/scss/components/_logo.scss

@use 'sass:color';
@use '../abstracts/mixins' as mixins;

.logo {
  a{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;

    img {
      width: 75%;
      margin-right: 15px;
      transition: filter 0.3s ease;
    }
    .nube{
      width: 20%;
      margin: 0 !important;
    }
  }
  
}
