// src/styles/scss/components/_sidebar.scss

@use 'sass:color';
@use '../abstracts/mixins' as mixins;

.sidebar {
  width: 280px;
  background-color: mixins.theme(dark-color);
  color: mixins.theme(light-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: background-color 0.3s ease, color 0.3s ease;

  .logo-container {
    margin-bottom: 40px;
    padding: 1rem;
    width: 100%;
    background-color: mixins.theme(primary-color);
    display: flex;
    justify-content: center;
    .logo {
      width: 190px;
      transition: filter 0.3s ease;
      
    }
  }

  .navigation {
    flex: 1;

    ul {
      list-style: none;
      width: 100%;
      padding: 0;

      li {
        width: 100%;
        padding: 15px 20px;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: mixins.theme(color-primary);
        }

        svg {
          margin-right: 10px;
        }

        span {
          font-size: 19px;
        }
      }
    }
  }
  .user-info {
    padding: 1rem;
    border-top: 1px solid #ccc;
  
    .user-details {
      display: flex;
      align-items: center;
      margin-bottom: 0.5rem;
      cursor: pointer;
      
      &:hover {
        text-decoration: underline;
      }
  
      .user-avatar {
        width: 40px;
        height: 40px;
        border-radius: 1000%;
        margin-right: 0.5rem;
      }
    }
  
    .user-text p {
      margin: 0;
      line-height: 1.2;
      strong {
        -webkit-text-stroke: 0.3px;
        -webkit-text-stroke-color: #333;
      }
    }
  
    .logout-button, .profile-button {
      display: flex;
      align-items: center;
      cursor: pointer;
      background-color: mixins.theme(gray-color);
      border: none;
      font-size: 1rem;
      padding: 0.5rem 1rem;
      color: #333;
      border-radius: 10px;
      margin-top: 0.5rem;
      width: 100%;
      justify-content: center;
  
      &:hover {
        background-color: mixins.theme(primary-color-hover);
        color: mixins.theme(light-color);
      }
  
      span {
        margin-left: 0.25rem;
      }
    }
  }
  
  .logout-button {
    display: flex;
    width: 60%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    color: mixins.theme(light-color);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
  
  .logout-button:hover {
    text-decoration: underline;
  }
  
  .logout-button span {
    margin-left: 0.9rem;
  }
}
