/* src/styles/scss/components/_sidebar.scss */

@use 'sass:color';
@use '../abstracts/mixins' as mixins;

.sidebar {
  width: 280px;
  background-color: mixins.theme(dark-color);
  color: mixins.theme(light-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: background-color 0.3s ease, color 0.3s ease;
  
  .logo-container {
    margin-bottom: 40px;
    padding: 1rem;
    width: 100%;
    background-color: mixins.theme(primary-color);
    display: flex;
    justify-content: center;
    .logo {
      width: 190px;
      transition: filter 0.3s ease;
    }
  }

  .navigation {
    flex: 1;
    width: 100%;
    ul {
      list-style: none;
      width: 100%;
      padding: 0;

      .nav-item {
        width: 100%;
        padding: 15px 20px;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: background-color 0.3s ease;
        position: relative; // Para posicionar el submenú
        &.servicios.open{
          padding-bottom: 0px;
        }
        .icon {
          margin-right: 10px;
          font-size: 1.2rem;
          color: mixins.theme(primary-color);
        }

        .label {
          font-size: 19px;
          flex-grow: 1;
        }

        &:hover {
          background-color: mixins.theme(color-primary);
        }
      }

      /* Estilos para el menú "Servicios" */
      .servicios {
        .servicios-header {
          width: 100%;
          display: flex;
          align-items: center;
          cursor: pointer;
          transition: background-color 0.3s ease;

          .icon {
            margin-right: 10px;
            font-size: 1.2rem;
            color: mixins.theme(primary-color);
          }

          .label {
            font-size: 19px;
            flex-grow: 1;
          }

          .chevron-icon {
            font-size: 0.8rem;
            transition: transform 0.3s ease;
          }

          &:hover {
            background-color: mixins.theme(color-primary);
          }
        }

        /* Estado abierto del submenú */
        &.open {
          display: flex;
          flex-direction: column;
          .chevron-icon {
            transform: rotate(180deg);
          }

          .submenu {
            max-height: 500px; // Valor suficientemente grande para acomodar todos los submenús
            opacity: 1;
            visibility: visible;
            transition: max-height 0.5s ease, opacity 0.5s ease;
          }
        }

        /* Estado cerrado del submenú */
        .submenu {
          max-height: 0;
          opacity: 0;
          visibility: hidden;
          overflow: hidden;
          transition: max-height 0.5s ease, opacity 0.5s ease;
          background-color: mixins.theme(dark-color);
          
          .submenu-item {
            width: 100%;
            padding: 15px 40px; // Sangría para submenús
            padding-right: 10px !important;
            display: flex;
            align-items: center;
            cursor: pointer;
            transition: background-color 0.3s ease;

            .icon {
              margin-right: 10px;
              font-size: 1rem;
              color: mixins.theme(primary-color);
            }

            .label {
              font-size: 17px;
            }

            &:hover {
              background-color: mixins.theme(color-primary);
            }
          }
        }
      }

     
    }
  }

  /* Estilos para el componente UserInfo */
  .user-info {
    padding: 1rem;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.321);
    font-size: 0.9rem;
    .cart-icon-container {
      position: relative;
      width: 18px;
      svg{
        width: 18px;
      }
    }
    
    .cart-badge {
      position: absolute;
      top: -12px;
      right: -15px;
      background-color: red; // o mixins.theme(primary-color) si prefieres
      color: #fff;
      font-size: 0.6rem;
      font-weight: bold;
      padding: 2px 3px;
      border-radius: 50%;
      min-width: 18px;
      text-align: center;
    }
    .tuCuenta{
      display: flex;
      flex-direction: column;
      padding-bottom: 1rem;
      border-bottom: 1px solid rgb(204, 204, 204);
      .nameCuenta{
        margin: 0 !important;
      }
    }
    // Nueva sección para mostrar cuando se accede como cuenta padre
    .account-switch-info {
      text-align: start;
      p {
        margin: 0.75rem 0;
        font-size: 0.9rem;
        color: mixins.theme(light-color);
        strong {
          font-size: 0.8rem;
          color: mixins.theme(primary-color);
        }
      }
    }

    // Si deseas ajustar el estilo del párrafo que muestra "Tu Rol:" en este contexto,
    // puedes agregar una regla específica. Por ejemplo:
    .parent-role-info {
      margin-top: 0.5rem;
      font-size: 0.95rem;
      text-align: start;     
      margin-bottom: 2rem;
      color: mixins.theme(light-color);
      strong {
        font-size: 0.8rem !important;
        color: mixins.theme(primary-color);
      }
      span{
        margin-left: 0.5rem;
        font-size: 0.7rem;
        background-color: rgb(47, 164, 200);
        padding: 5px;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
      }
    }

    .user-details {
      display: flex;
      align-items: center;
      margin-bottom: 0.5rem;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }

      .user-avatar {
        width: 40px;
        height: 40px;
        border-radius: 1000%;
        margin-right: 0.5rem;
      }
    }

    .user-text p {
      margin: 0;
      line-height: 1.2;
      strong {
        -webkit-text-stroke: 0.3px;
        -webkit-text-stroke-color: #333;
      }
    }

    .logout-button, .profile-button {
      display: flex;
      align-items: center;
      cursor: pointer;
      background-color: mixins.theme(gray-color);
      border: none;
      font-size: 1rem;
      padding: 0.5rem 1rem;
      color: #333;
      border-radius: 10px;
      margin-top: 0.5rem;
      width: 100%;
      justify-content: center;
      transition: background-color 0.3s ease, color 0.3s ease;

      &:hover {
        background-color: mixins.theme(primary-color-hover);
        color: mixins.theme(light-color);
      }

      span {
        margin-left: 0.25rem;
      }
    }
  }
  .access-link{
    padding-left: 0rem !important;
    margin-bottom: 0.5rem !important;
  }
  .logout-button {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    color: mixins.theme(light-color);
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
      text-decoration: underline;
      background-color: mixins.theme(primary-color-hover);
      color: mixins.theme(light-color);
    }

    span {
      margin-left: 0.9rem;
    }
  }
}
