// src/styles/scss/components/_form.scss

@use 'sass:color';
@use '../abstracts/mixins' as mixins;

.swal2-popup {
    background-color: mixins.theme(background-color);
    color: mixins.theme(dark-color);
    border-radius: 10px;
    padding: 20px;
}

.swal2-title {
    color: mixins.theme(dark-color);
    font-size: 24px;
}

.swal2-content {
    font-size: 16px;
}

.swal2-confirm-button {
    background-color: mixins.theme(primary-color);
    color: mixins.theme(color-light);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: mixins.theme(primary-color-hover);
    }
}
